body {
	background: #EFEFEF;
}
.warning {
	padding: 15px;
	background-color: #CCCC99;
	border-radius: 10px;
	font-style: italic;
}
header {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color:#222222;
}
header h1 {
	display: inline;
	font-style: italic;
	font-size: 25px;
	font-family: 'Iceberg', cursive;
	color: #CCCC99;
	
}
header h1:hover {
	text-shadow: .1px .1px .1px #AAAAAA;
}
header span {
	font-size:12px;
}
header nav {
	margin: 0 auto;	
	max-width: 800px;	
}
header ul {
	display:inline-block;
	margin:0;	
}
header ul li {
	font-size: 13px;
	display: inline;
	padding: 0 10px 0 10px;
}
header a {
	text-decoration:none;
	color: #979797;
	font-weight: bold;
	-webkit-transition:color .3s ease-in;  
  	-moz-transition:color .3s ease-in;  
   	-o-transition:color .3s ease-in;  
   	transition:color .3s ease-in; 
}

header a:hover {
	color:#FFFFFF;
}

article {
	background: #ffffff;
	max-width:800px;
	margin: 15px auto;
	padding: 1px 10px;
	font-family: 'Roboto Slab', serif;
	-moz-box-shadow: 1px 1px 3px 2px #aaaaaa;
  	-webkit-box-shadow: 1px 1px 3px 2px #aaaaaa;
  	box-shadow:         1px 1px 3px 2px #aaaaaa;
}
article h1 {
	font-style: italic;
        font-size: 20px;
}
article h2 {
	font-style: italic;
	font-size: 13px;
	
}
article p {
	color: #333333;
	font-size: 12px;
}

article a {
	color: #333333;
	text-shadow: 0.5px 0px 0.5px #AAAAAA;
}
footer {
	text-align: center;
	color: #686868;
	font-size: 11px;
	font-family: 'Roboto Slab', serif;
}
footer a {
	text-decoration:none;
	color: #686868;
	font-weight: bold;
	-webkit-transition:color .3s ease-in;  
  	-moz-transition:color .3s ease-in;  
   	-o-transition:color .3s ease-in;  
   	transition:color .3s ease-in; 
}

footer a:hover {
	color:#383838;
}
